img.first {
    content:url(images/dog1.jpg);
    width: 100px;
    height: 100px;
}
img.first:hover {
    content:url(images/dog2.jpg);
    width: 100px;
    height: 100px;
}
img.second:hover {
    transform: rotate3d(3, 1, 1, 45deg);
}
img.third {
    content:url(images/dog1.jpg);
}
img.third:hover {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {left:0px; top:0px; transform: rotate3d(0)}
    25%  {left:200px; top:0px; transform: rotate3d(3, 1, 1, 45deg); content:url(images/dog2.jpg)}
    50%  {left:200px; top:200px; transform: rotate3d(0, 0, 0, 0deg);content:url(images/dog1.jpg)}
    75%  {left:0px; top:200px; transform: rotate3d(3, 1, 1, -45deg); content:url(images/dog2.jpg)}
    100% {left:0px; top:0px; transform: rotate3d(0);content:url(images/dog1.jpg)}
  }

