button {
    align-content: center;
    background-color: darkgreen;
    color: greenyellow;
}
button:hover {
    background-color: greenyellow;
    color: darkgreen;
}
p:hover {
    background-color: peru;
}

